@import "tailwindcss";

/* FONTS  */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/InstrumentSerif-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}


@theme {
  --font-sans: "Satoshi", Arial, sans-serif;
  --font-serif: "Instrument Serif", serif;

  --radius: 0.75rem;

  --color-background: 0 0% 100%;
  --color-foreground: 222.2 84% 4.9%;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}