@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* FONTS  */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}


@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/InstrumentSerif-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}


@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Satoshi", Arial, sans-serif;
  --font-serif: "Instrument Serif", serif;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-border: hsl(var(--border));
  --color-ring: hsl(var(--ring));
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --border: 214 32% 91%;
  --ring: 215 20% 65%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --border: 0 0% 100% / 10%;
  --ring: 215 20% 65%;
}

@layer base {
  * {
   
    border-color: hsl(var(--border));
    outline-color: hsl(var(--ring) / 0.5);
  }

  html {
    @apply font-sans;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
    overflow-x: hidden;
  }

  .font-sans {
    font-family: var(--font-sans) !important;
  }

  .font-serif {
    font-family: var(--font-serif) !important;
  }
}



html {
  overflow-x: hidden;
  overflow-y: scroll;
}


